/* font Lato as chosen lay-out virgorises.pages.google.com */
body {
    font-family: Lato, Verdana, Geneva, Arial, sans-serif;
    }

    #vrCanvasPlotRc{
    border: 1px solid black;
    cursor: crosshair;
    width: 100%;
}
/* function makeTheSeedXTbl();
    data[d].setAttribute('class', 'seedselected');
*/
.seedselected {
    font-weight:500;
}

/* function expandSeedSet();
    if (varArray.length > 9) {
        seedAlert.classList.add("maxseeds"); 
*/

.maxseeds {
    background-color: red;
}

/**
 * navbar
 * stackoverflow
 * answered Jul 14, 2022
 * imvain2 
*/
.page {
    display: none;
  }
  
  .page.active {
    display: block;
  }
